<div class="container">
  <%= simple_form_for(@horaire) do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>
    <%= f.label :debut %>
    <%= f.datetime_field :debut %>
    <%= f.label :fin %>
    <%= f.datetime_field :fin %>
    <%= f.submit %>
  <% end %>
</div>