<div class="container">
  <h2>Creneaux</h2>
  <ul>
    <% @creneaux.each do |creneau| %>
      <li><%= creneau.date %></li>
      <li><%= creneau.debut %></li>
      <li><%= creneau.fin %></li>
      <li><%= creneau.disponible %></li>
      <li><%= creneau.created_at %></li>
    <% end %>
  </ul>
</div>